


/* LAYOUT */

/* NAVBAR */

/* items */
.navbar-link:hover{
    text-decoration: underline;

}

/* carrito */
.icon-cart{
    font-size: 1.3rem;
    cursor: pointer;
    color: black;
}

/* button iniciar sesion */
.form-nav{
    width: 553px;
}


.btn-gradient {
    background: linear-gradient(to bottom right, #7c3aed, #3b82f6);
    border: none;
    color: white;
    
}
.btn-gradient:hover {
    background: linear-gradient(to bottom left, #7c3aed, #3b82f6);
}
.btn-gradient:focus {
    box-shadow: 0 0 0 0.25rem rgba(59, 130, 246, 0.5); /* azul translúcido */
}

/* HERO SECTION */
.hero-section{
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e)
}

/* INDEX VIEW */

/* Section libros destacados */
.badge-section-primary{
    background-color: #dbeafe;
    color: #2563eb;
    padding: 7px 20px;
    border-radius: 12px;
    font-weight: 600;
}
/* card */
.bd-placeholder-img{
    object-fit: cover;
    height: 250px;
}
.text-green{
    color: #16a34a;
}

.btn-card{
    padding: 10px 20px; 
    width: 250px;
    font-weight: 600;
}

.badge-section-secondary{
    background-color: #e2e4e8;
    color: #655563;
    padding: 3px 10px;
    border-radius: 12px;
    font-weight: 700;
    font-size: 11px
}

/* card category */
.image-container {
  position: relative;
}
.image-container img {
  width: 100%;
  display: block;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
   /* Negro con 40% de opacidad */
  pointer-events: none; /* para que no bloquee clics */
}

.image-overlay-purple{
    background-color: #84279bb7;
}

.image-overlay-pink{
    background-color: #ff008088;
} 

.image-overlay-red{
    background-color: #ce3535ab;
}

.image-overlay-green{
    background-color: #40e0408f;
}

.image-overlay-blue{
    background-color: #4d58b78f;
}

.image-overlay-yellow{
    background-color: #ffc1079f;
}

/* .image-overlay-purple{
    background-color: #b74da28f;
} */
 
.btn-black{
    background-color: #0f0c29;
    color: white;
    border: none;
    padding: 10px;
}
.btn-black:hover{
    background: linear-gradient(to bottom left, #7c3aed, #3b82f6);
}

.btn-black:focus {
    box-shadow: 0 0 0 0.25rem rgba(59, 130, 246, 0.5); /* azul translúcido */
}

.badge-section-white{
    background-color: #ffffff57;
    color: #ffffff;
    padding: 4px 18px;
    border-radius: 12px;
    font-weight: 700;
    font-size: 15px;
}


/* FOOTER */
.footer{
    background-color: #111827;
}

/* SIDEBAR */
.nav-link-sidebar{
    padding: 5px;
}

/* LOGIN */
.input-container{
    position: relative;
    display: inline-block;
}
.icono {
  position: absolute;
  top: 50%;
  left: 10px; /* Ajusta según sea necesario */
  transform: translateY(-50%);
  color: #aaa; /* Color del icono */
}

.enlace{
    text-decoration: none;
}

.enlace:hover{
    text-decoration: underline;
}

/* DropDown */
.dropdown-menu {
  position: absolute;
  left: -88px;          /* Se ancla al borde izquierdo */
  right: auto;      /* Evita que se estire hacia la derecha */
  transform: none;  /* Elimina transformaciones que lo desplacen */
  max-width: 100vw; /* Nunca más ancho que la pantalla */
  overflow-x: auto; /* Si aun así el contenido es grande, scroll horizontal */
}

.dropdown-enlace:hover{
    cursor: pointer;
}


/* UTILIDADES */
/* Colors */
.icono-cart:hover{
    cursor: pointer;
    color: blue;
}

 
/* Width */
.min-width-8{
    min-width: 8rem;
}


.w-24{
    width: 24px;
}

/* 110px */
.w-11{
    width: 115px;
}
/* 195px */
.w-18{
    width: 183px;
}

/*     width: 245px; */
.w-20{
    width: 205px;
}

/* 280px */
.w-28{
    width: 280px;
}

/* 305px */
.w-35{
    width: 305px;
}

/* 309px */
.w-39{
    width: 309px;
}

/* 370px */
.w-37{
    width: 370px;
}

/* 418px */
.w-40{
    width: 418px;
}

/* 448px */
.w-48{
    width: 448px;
}


.w-44{
    width: 448px;
}

/* 300px */
.w-30{
    width: 300px;
}

/* 156px */
.w-56{
    width: 156px;
}

/* 540px */
.w-54{
    width: 540px;
}

/* 641px */
.w-64{
    width: 635px;
}

/* 1021px */
.w-102{
    width: 1000px;
}

/* Height */
.height-100{
    height: 100vh;
}
/* 36px */
.h-36{
    height: 36px;
}

/* 537px */
.h-53{
    height: 537px;
}

/* MARGIN */
.mt-10{
    margin-top: 6rem;
}

.ms-50{
    margin-left: 330px;
}

/* PADDING */
.ptb-1{
    padding: 6px 12px;
}

.pl-3{
    padding-left: 40px;
}

/* .bd-placeholder-img {
    object-fit: cover;
    height: 537px;
    width: 448px;
}IMAGENES */
.img-cover{
    object-fit: cover;
}

.cusror-pointer{
    cursor: pointer;
}


/* font size */
.font-10{
    font-size: 10px;
}
.font-7{
    font-size: 15px;
}
.font-8{
    font-size: 14px;
}


/* text */
.gradient-text {
    background: linear-gradient(to bottom right, #7c3aed, #3b82f6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; /* Para algunos navegadores */
    color: transparent;
    /* text-decoration-color: black; */

}
.text-whit{
    color: white;
}

.text-blue-bold{
    color: #012974;
    text-decoration: none;
}

.text-decoration-none{
    text-decoration: none;
}


.text-purple{
    color: #9333ea;
}

.nav-brand{
    font-weight: 700;
}

/* Badgeds */
.badge-section-purple{
    background-color: #ede0fa;
    color: #9354ef;
    padding: 5px 14px;
    border-radius: 12px;
    font-weight: 600;
    font-size: 15px
}

.badge-carrito-danger{
    background-color: red;
    color: white;
    padding: 0px 7px;
    border-radius: 11px
}

.badge-section-green{
    background-color: #d0fae5;
    color: #016630;
    padding: 3px 10px;
    border-radius: 12px;
    font-weight: 700;
    font-size: 11px
}

.badge-section-yellow{
    background-color: #ecfcca;
    color: #894b00;
    padding: 3px 10px;
    border-radius: 12px;
    font-weight: 700;
    font-size: 11px
}
.badge-section-red{
    background-color: #ffedd4;
    color: #9f2d00;
    padding: 3px 10px;
    border-radius: 12px;
    font-weight: 700;
    font-size: 11px
}

/* Tables */
.custom-thead th{
    background-color: #157347 !important;
}


/* Colors */

.backg-white{
    background-color: #f0f0f0;
}
.backg-white-100{
    background-color: #f6f9ff;
    width: 100%;
    height: 100%;
}

.backg-blue-600{
    background-color: #f1f5f9;
}

.backg-blue-600{
    background-color: #f1f5f9;
}


/* Images */
.imagen-sm{
    width: 110px;
    height: 128px;
}


/* HELPERS */
.nav-item:hover{
    background-color: #e7eeff;
    border-radius: 5px;
}

.link:hover{
    background-color: #e7eeff;
    border-radius: 5px;
}

.button:hover{
    background-color: #edf0fc;
}

.button-light:hover{
    background-color: #f4f6ff;
}

.w-full{
    width: 100%;
}


.fsz-sm{
    font-size: 13px;
}

.fs-9{
    font-size: 13px;
}
.fs-10{
    font-size: 14px;
}

.border-gray{
    border: 1px solid #bfbfbf;
}

.border-cantidad{
    width: 40px;
    height: 34px;
    border: 1px solid #d2d2d2;
}

.border-radius-start{
    border-radius: 5px 0px 0px 5px;
    border: 1px solid #d2d2d2;

}

.border-radius-end{
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #d2d2d2;

}

.bg-info-25{
    background-color: #f1f5f9;
}

/* BUTTONS */
.button{
    border: 1px solid #d2d2d2;
    padding: 4px 10px;
    border-radius: 5px;
    background-color: white;
}

.button-2{
    padding: 4px 10px;
    background-color: white;
}

.button-light{
    border: 1px solid #e4e4e4;
    padding: 6px 10px;
    border-radius: 5px;
    background-color: white;
}


